@import '~bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

@import '~font-awesome/scss/_variables.scss';
$fa-font-path: "~font-awesome/fonts/";
@import '~font-awesome/scss/font-awesome.scss';

.navbar-brand { padding-top: 0; }
.navbar-brand > img { border: 0; border-radius: 50%; height: 50px; width: 50px; margin: 0; padding: 0; }

